@using JudoApp.Web.ViewModels.Club
@model IEnumerable<ClubIndexViewModel>

<h2 class="my-4 text-center">Manage Clubs</h2>

<partial name="_AdminPanelPartial" />

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var club in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(club.ImageUrl))
                    {
                        <img src="@club.ImageUrl" alt="@club.Name" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                        <span>No Image Available</span>
                    }
                </td>
                <td>@club.Name</td>
                <td>@club.Address</td>
                <td>@club.City</td>
                <td>@club.PhoneNumber</td>
                <td>@club.Email</td>
                <td>
                        <a asp-action="Edit" asp-route-id="@club.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@club.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>