@using JudoApp.Web.ViewModels.Product
@model IEnumerable<ProductIndexViewModel>

<h2 class="my-4 text-center">Manage Products</h2>

<partial name="_AdminPanelPartial" />

<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>