@using JudoApp.Services.Data.Interfaces
@using JudoApp.Web.Infrastructure.Extensions
@using static JudoApp.Common.ApplicationConstants
@inject ICartService CartService
@{
    var cartItemCount = CartService.GetCartItems().Count;
}

@inject IManagerService managerService
@{
    int currentYear = DateTime.UtcNow.Year;
    string footerNote = (ReleaseYear == currentYear) ?
        $"{currentYear}" : $"{ReleaseYear} - {currentYear}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Bulgarian Judo Federation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NavBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JudoApp.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="icon" href="~/favicon.svg" type="image/svg">
</head>
<body>
    <partial name="_NotificationsPartial" />
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Images/Index_Logo.png" alt="Club Image" class="navbar-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Club" asp-action="Index">Clubs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Judge" asp-action="Index">Judges</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Article" asp-action="Index">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index">
                                <i class="bi bi-cart"></i> Cart
                                @if (cartItemCount > 0)
                                {
                                    <span class="badge bg-primary">@cartItemCount</span>
                                }
                            </a>
                        </li>
                    </ul>
                    @if (this.User?.Identity?.IsAuthenticated ?? false)
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="fas fa-user-circle me-2" style="font-size: 2.5em"></span>
                                    <span style="font-size: 1.2em;">@this.User.Identity.Name</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    @if (await this.managerService.IsUserManagerAsync(this.User.GetUserId()))
                                    {
                                        <li>
                                            <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                    }
                                    <li class="auth-links">
                                        <form class="auth-links" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" id="logoutForm">
                                            <button type="submit" class="nav-link btn btn-link p-0" style="text-decoration: none;">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="auth-links">
                                <a class="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="auth-links">
                                <a class="sign-in" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @footerNote 2024 - JudoApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Navbar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
